body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
    color: #2c061f;
  background: #2c061f;
  background-color: #00a3a3;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");

}
h1{

font-size: 80px;
color: black;
line-height: 2;

}
h2{
  color: black;
  font-size: 40px;
  font-weight: normal;
  padding: 0 0 20px 0;

}
p{
  line-height: 2;
  font-size: 130%;
}
.top{
  padding:  20px 30px 0 30px;
  background:  Black;
}
.heading1{
  padding-left: 50px;
}
.navbar{
  padding-bottom: 1.5rem;
  padding-left: 0;
}

.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.down-btn{
  margin: 5% 3% 5% 0;
}
.first
{
  text-align: center;
}
.about_me{
  padding: 0 13% 0 37%;
  text-align: left;

}
.edu{
  padding: 100px;
  text-align:center;
}
.education-column{
  padding: 2% 3%;

}
.heading2{
  padding: 50px 0 0 0 ;
}

.badminton{
  border-radius: 100%;
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 20px;
}
.chess{
  border-radius: 100%;
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 20px;

}
.interests-row1{
  width: 40%;
margin:50px auto 100px;
text-align: right;
line-height: 2;

}
.interests-row2{
  width: 40%;
margin:50px auto 100px;
text-align: left;
line-height: 2;

}
#footer{
  padding: 20px 0 0 0;
  text-align: center;
  background: black;
}
.social{
  margin: 0 20px;
}
